<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </configSections>
    <DXThemeManager>
        <setting name="ApplicationThemeName" serializeAs="String">
            <value>Seven</value>
        </setting>
    </DXThemeManager>
    <connectionStrings>
        <add name="localhost_mijms_connection" connectionString="Data Source=.\\SQLEXPRESS;Initial Catalog=mijms;TrustServerCertificate=True;Trusted_Connection=True" />
        <add name="localhost_mijms_Con2" connectionString="XpoProvider=MSSqlServer;data source=.\SQLEXPRESS;integrated security=SSPI;initial catalog=mijms;Encrypt=true;TrustServerCertificate=true" />
        <add name="new_report_connection" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=mijms;TrustServerCertificate=true" />
    </connectionStrings>
</configuration>