<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="localhost\sqlexpress.mijms.dbo" connectionString="XpoProvider=MSSqlServer;data source=YOGESH-PC-INFIN\SQLEXPRESS;integrated security=SSPI;initial catalog=mijms;TrustServerCertificate=true" />
    </connectionStrings>
</configuration>